<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106950330307-udeebn1vjffpkejavmim68ag5in0q5hh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106950330307-udeebn1vjffpkejavmim68ag5in0q5hh</string>
	<key>API_KEY</key>
	<string>AIzaSyCS91uBTCpYuG9TSrEqVRdYLtqCpNjvJO8</string>
	<key>GCM_SENDER_ID</key>
	<string>106950330307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UCI-Informatics-Department.CoolCraig</string>
	<key>PROJECT_ID</key>
	<string>coolcraig-bdd39</string>
	<key>STORAGE_BUCKET</key>
	<string>coolcraig-bdd39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106950330307:ios:4073d57cc33faf47a9df76</string>
	<key>DATABASE_URL</key>
	<string>https://coolcraig-bdd39.firebaseio.com</string>
</dict>
</plist>